html {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: steelblue;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  margin: 0;
  box-sizing: inherit;
}

.container {
  border: 1px solid steelblue;
  margin: auto;
  min-width: 500px;
  max-width: 80%;
  padding: 1em;
  border-radius: 5px;
}
