html {
  box-sizing: border-box;
}

body {
  color: steelblue;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: inherit;
}

.container {
  border: 1px solid steelblue;
  margin: auto;
  min-width: 500px;
  max-width: 80%;
  padding: 0;
  border-radius: 5px 5px 2px 2px;
}

.titulo {
  font-size: 20px;
  margin: 0;
}

.cabecera {
  background: steelblue;
  color: #FFF;
  font-weight: bold;
  text-align-last: left;
  margin: 0;
  font-size: 20px;
  padding: .6em 1em;

  box-shadow: -2px 4px 5px rgba(0,0,0,.4);
}

.tagline {
  font-size: 12px;
}

.container__content {
  padding: 1em;
}
